// FONT
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900')

// @VARIABLES
$bodyFont: 'Open Sans', sans-serif
$titleFont: 'Open Sans', sans-serif
$bgColor: linear-gradient(135deg, #002020, #200020)
$txtColor: #D0D0D0