doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title= title
    meta(name="author" content="Yorick Demichelis")
    link(rel="shortcut icon" href="/favicon.png" type="image/png")
    link(rel="stylesheet" href="/style/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body

    main
      h2= message
      p= error
  
    include ./footer.pug