doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    title= title
    meta(name="author" content=author)
    meta(name="description" content= name)
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:image" content="/img/social.png")
    meta(property="og:description" content= name)
    meta(property="og:url" content=url)
    link(rel="shortcut icon" href="/favicon.png" type="image/png")
    link(rel="stylesheet" href="/style/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body

    main
      section#input
        input(type="text", placeholder="Hey Banana, how you doin'?")
      section#output
        ul


    include ./footer.pug